
**/bin/
**/obj/
**/packages/
**/out/


**/.vs/
**/.vscode/
**/.idea/
*.csproj.user
*.user
*.suo
*.userprefs


.git/
.gitignore
.gitattributes




**/appsettings.Development.json
**/appsettings.Production.json
**/appsettings.Staging.json
**/secrets.json
**/.env
**/*.env


**/logs/
**/*.log


**/TestResults/
**/coverage/
**/*.trx


**/.docker/
**/docker-compose*
**/*.dockerfile

**/.temp/
**/.tmp/
**/Thumbs.db
**/.DS_Store
**/desktop.ini